/*设置滚动条*/
div::-webkit-scrollbar,textarea::-webkit-scrollbar,iframe::-webkit-scrollbar{/*滚动条整体部分，其中的属性有width,height,background,border等*/
  width:6px;
  height:6px;
}
div::-webkit-scrollbar-button,textarea::-webkit-scrollbar-button,iframe::-webkit-scrollbar-button{/*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/
  display: none;
}
div::-webkit-scrollbar-track,textarea::-webkit-scrollbar-track,iframe::-webkit-scrollbar-track{/*外层轨道，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/
  display: none;
}
div::-webkit-scrollbar-track-piece,textarea::-webkit-scrollbar-track-piece,iframe::-webkit-scrollbar-track-piece{/*内层轨道，滚动条中间部分*/
  background:#fff;
}
div::-webkit-scrollbar-thumb,textarea::-webkit-scrollbar-thumb,iframe::-webkit-scrollbar-thumb{/*滚动条里面可以拖动的那部分*/
  background:#DCDFE6;
  border-radius:4px;
}
div::-webkit-scrollbar-corner,textarea::-webkit-scrollbar-corner,iframe::-webkit-scrollbar-corner{/*边角*/
  background:#fff; 
}
div::-webkit-scrollbar-resizer,textarea::-webkit-scrollbar-resizer,iframe::-webkit-scrollbar-resizer {/*定义右下角拖动块的样式*/
  background:#fff;
}

/*ie中滚动条样式*/
div,textarea{
  scrollbar-arrow-color: #DCDFE6; /*三角箭头的颜色*/ 
  scrollbar-face-color: #DCDFE6; /*立体滚动条的颜色*/ 
  scrollbar-3dlight-color: #DCDFE6; /*立体滚动条亮边的颜色*/ 
  scrollbar-highlight-color: #fff; /*滚动条空白部分的颜色*/ 
  scrollbar-shadow-color: #fff; /*立体滚动条阴影的颜色*/ 
  scrollbar-darkshadow-color: #fff; /*立体滚动条强阴影的颜色*/ 
  scrollbar-track-color: #fff; /*立体滚动条背景颜色*/ 
  scrollbar-base-color:#fff; /*滚动条的基本颜色*/ 
}

/*弹框*/
.public-dialog-mask{
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  perspective: 1200px;
}
.public-dialog-mask:after{
  content: "";
  display: inline-block;
  height: 100vh;
  width: 0;
  vertical-align: middle;
}
.public-dialog-box{
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  backface-visibility: hidden;
}
.public-dialog-content{
  position: relative;
  text-align: left;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  overflow: auto;
}
.public-sel-dialog-footer{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*表格盒子*/
.public-table-box-scroll{
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}